

.round-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // background: $background-color;
    border-radius: 100px;

    i {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        // color: $hyperlink-background-hover;
    }
}

.add {
    .round-icon {
        background: #dcfce7;
    }

    i {
        color: #3ca764;
    }

    .button-secondary {
        background-color: white;

        i {
            // color: $black-color ;
        }

        &:hover {
            background-color: white;
            color: #3ca764;
            border-color: #3ca764;

            i {
                color: #3ca764;
            }
        }
    }

    .button-primary {
        i {
            color: white;
        }

        background-color: #3ca764;
    }

}

.update {

    .round-icon {
        background: #e0e7ff;
    }

    i {
        color: #4f46e5;
    }

    .button-secondary {
        i {
            // color: $black-color;
        }

        &:hover {
            background-color: white;
            color: #4f46e5;
            border-color: #4f46e5;

            i {
                color: #4f46e5;
            }
        }
    }

    .button-primary {
        i {
            color: white;
        }

        background-color: #4f46e5;
    }

}

.delete {
    .round-icon {
        background: #fee2e2;
    }

    i {
        color: #d92c2c;
    }

    .button-secondary {
        i {
            // color: $black-color ;
        }

        &:hover {
            background-color: white;
            color: #d92c2c;
            border-color: #d92c2c;

            i {
                color: #d92c2c;
            }

        }
    }

    .button-primary {
        i {
            color: white;
        }

        background-color: #d92c2c;
    }

}