<section class="d-flex gap-0-1 page-container">
    <div class="d-flex animate-fadeRight" style="margin-top: 26px;">
        <app-profile-page></app-profile-page>

    </div>

    <div class="d-flex flex-column gap-1-0 animate-fadeLeft">
        <div class="d-flex justify-content-end">

            <div class="button-container animate-fadeRight">

                <button class="btn-button d-flex flex-column gap-03-0 justify-content-center align-items-center">
                    <span class="sub-heading">
                        <i class="far fa-user light-blue-color"></i>
                    </span>
                    <span class="fs-14 fw-600">
                        about
                    </span>

                </button>
                <button class="btn-button d-flex flex-column gap-03-0 justify-content-center align-items-center">
                    <span class="sub-heading">
                        <i class="far fa-file light-blue-color"></i>
                    </span>
                    <span class="fs-14 fw-600">
                        timeline
                    </span>

                </button>
                <button class="btn-button d-flex flex-column gap-03-0 justify-content-center align-items-center">
                    <span class="sub-heading">
                        <i class="far fa-address-book light-blue-color"></i>
                    </span>
                    <span class="fs-14 fw-600">
                        Contact
                    </span>

                </button>

            </div>

        </div>


        <div class="card-box d-flex flex-column gap-3-0">

            <section class="d-flex flex-column gap-1-0 mouse-scroll-anime">

                <div class="d-flex flex-column gap-05-0">
                    <div class="section-heading">
                        <span class="fs-32">
                            about
                        </span>
                    </div>
                </div>

                <div class="fs-16 d-flex flex-column gap-05-0">
                    <span>

                        Highly motivated Angular Developer with two of experience in crafting robust and dynamic web
                        applications. Demonstrated proficiency in leveraging the Angular framework to deliver responsive
                        and user-centric solutions.
                    </span>
                    <span>
                        Proven ability to collaborate effectively with cross-functional teams to translate design
                        concepts into seamless user experiences.
                        Seeking to contribute expertise in Angular development to a forward-thinking organization
                        committed to innovation and excellence in web
                        development.
                    </span>
                </div>

            </section>

            <section class="d-flex flex-column gap-1-0 w-100 mouse-scroll-anime">

                <div class="section-heading w-100">
                    <span class="fs-32">
                        What I Do!
                    </span>
                </div>

                <div class="d-flex gap-0-1">

                    <div class="container background-red-gradient animate-fadeRight mouse-scroll-anime d-flex gap-0-1 col-sm-6">
                        <span class="fs-18">
                            <i class="fab fa-angular red-color"></i>
                        </span>
                        <div class="d-flex flex-column gap-05-0">
                            <span class="fs-18 fw-600">
                                Web development
                            </span>
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam autem ad quae nobis
                                ipsum,
                                eveniet necessitatibus odio rerum sunt mollitia, iusto iure voluptate minima dicta
                                tenetur
                                libero vel. Quasi.
                            </span>
                        </div>

                    </div>

                    <div class="container background-blue-gradient animate-fadeLeft mouse-scroll-anime d-flex gap-0-1 col-sm-6">
                        <span class="fs-18">
                            <i class="fas fa-code blue-color"></i>
                        </span>
                        <div class="d-flex flex-column gap-05-0">
                            <span class="fs-18 fw-600">
                                Web development
                            </span>
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam autem ad quae nobis
                                ipsum,
                                eveniet necessitatibus odio rerum sunt mollitia, iusto iure voluptate minima dicta
                                tenetur
                                libero vel. Quasi.
                            </span>
                        </div>

                    </div>

                </div>

            </section>

            <section class="timeline mouse-scroll-anime">
                <div class="d-flex flex-column gap-1-0">

                    <div class="d-flex flex-column gap-1-0 mouse-scroll-anime">

                        <div class="d-flex flex-column gap-05-0">
                            <div class="section-heading">
                                <span class="fs-32">
                                    Resume
                                </span>
                            </div>
                        </div>

                        <div class="fs-16 d-flex flex-column gap-05-0">
                            <span>
                                Highly motivated Angular Developer with two of experience in crafting robust and dynamic
                                web
                                applications. Demonstrated proficiency in leveraging the Angular framework to deliver
                                responsive
                                and user-centric solutions.
                            </span>
                        </div>

                    </div>

                    <div class="d-flex gap-0-05">

                        <div class="col-lg-6 d-flex flex-column gap-05-0 mouse-scroll-anime">
                            <span class="timeline-title fs-18 fw-600">
                                Sumary
                            </span>
                            <div class="timeline-item pb-0 d-flex flex-column gap-05-0">
                                <span class="fs-25 fw-600 blue-color">
                                    Bal raj
                                </span>
                                <span>
                                    Innovative and deadline-driven Graphic Designer with 3+ years of experience
                                    designing and
                                    developing user-centered digital/print marketing material from initial
                                    concept to final,
                                    polished deliverable.
                                </span>
                                <ul>
                                    <li>Portland par 127,Orlando, FL</li>
                                    <li>(123) 456-7891</li>
                                    <li>alice.barkleyexample.com</li>
                                </ul>
                            </div>

                            <span class="timeline-title fs-18 fw-600">
                                Education
                            </span>

                            <div class="timeline-item d-flex flex-column gap-05-0">
                                <span  class="fs-16 fw-600 blue-color">
                                    Master of Fine Arts &amp; Graphic Design
                                </span>
                                <span class="fw-600">2015 - 2016</span>
                                <span>
                                    Rochester Institute of Technology, Rochester, NY
                                </span>
                                <span>
                                    Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit.
                                    Ea vero
                                    voluptatum qui ut dignissimos deleniti nerada porti sand markend
                                </span>
                            </div>
                            <div class="timeline-item d-flex flex-column gap-05-0">
                                <span  class="fs-16 fw-600 blue-color">
                                    Master of Fine Arts &amp; Graphic Design
                                </span>
                                <span class="fw-600">2015 - 2016</span>
                                <span>
                                    Rochester Institute of Technology, Rochester, NY
                                </span>
                                <span>
                                    Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit.
                                    Ea vero
                                    voluptatum qui ut dignissimos deleniti nerada porti sand markend
                                </span>
                            </div>

                        </div>

                        <div class="col-lg-6 d-flex flex-column gap-05-0 mouse-scroll-anime">
                            <span class="timeline-title fs-18 fw-600">
                                Professional Experience
                            </span>
                            <div class="timeline-item d-flex flex-column gap-05-0">
                                <span  class="fs-16 fw-600 blue-color">
                                    Senior graphic design specialist
                                </span>
                                <span>
                                    2019 - Present
                                </span>
                                <span>
                                    Experion, New York, NY
                                </span>
                                <ul>
                                    <li>Lead in the design, development, and implementation of the graphic, layout,
                                        and
                                        production communication materials</li>
                                    <li>Delegate tasks to the 7 members of the design team and provide counsel on
                                        all aspects of
                                        the project. </li>
                                    <li>Supervise the assessment of all graphic materials in order to ensure quality
                                        and
                                        accuracy of the design</li>
                                    <li>Oversee the efficient use of production project budgets ranging from $2,000
                                        - $25,000
                                    </li>
                                </ul>
                            </div>

                            <div class="timeline-item d-flex flex-column gap-05-0">
                                <span  class="fs-16 fw-600 blue-color">
                                    Senior graphic design specialist
                                </span>
                                <span>
                                    2019 - Present
                                </span>
                                <span>
                                    Experion, New York, NY
                                </span>
                                <ul>
                                    <li>Lead in the design, development, and implementation of the graphic, layout,
                                        and
                                        production communication materials</li>
                                    <li>Delegate tasks to the 7 members of the design team and provide counsel on
                                        all aspects of
                                        the project. </li>
                                    <li>Supervise the assessment of all graphic materials in order to ensure quality
                                        and
                                        accuracy of the design</li>
                                    <li>Oversee the efficient use of production project budgets ranging from $2,000
                                        - $25,000
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </section>

        </div>

    </div>

</section>